.App {
	text-align: center;
}

.room-selection {
	position: relative;
	width: 90%;
	margin: 50px auto;
	display: flex;
	align-items: center;
	& > div {
		width: 50%;
		& input ~ button {
			margin-left: 10px;
		}
	}

	&::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 1px;
		height: 100px;
		background: #000;
	}
}