.App {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.top-bar {
	height: 120px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-grow: 0;
}

.room-code {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font: 800 20pt 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	width: max-content;
	border: 3px solid #c8c8c8cb;
	padding: 12px 30px;
	background-color: #e4e4e46f;
	border-radius: 15px;
	& .room-code-cta {
		position: absolute;
		font: 600 10pt 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		transition: opacity .3s ease 1s, transform .3s ease 1s;
	}

	& .room-code-hidden {
		filter: blur(10px);
		transition: filter .3s ease 1s;
	}

	&:hover {
		& .room-code-cta {
			opacity: 0;
			transform: scale(0.5);
		}
		& .room-code-hidden {
			filter: blur(0);
		}
	}
}

.player-card {
	box-sizing: border-box;
	position: relative;
	width: 64px;
	height: 64px;
	background-color: #d5d3d381;
	border: 1px solid #eee;
	border-radius: 10px;
	font: 600 12pt 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	transition: .3s ease, font-style 0s;
	&.round-paused img, &.pressed-this-round img {
		filter: grayscale(100%);
	}
	&.current-buzz, &.host.current-buzz {
		filter: grayscale(0%);
		background-color: #90ee9080;
		border-color: #90ee90cc;
	}
	&.spectator {
		font-style: italic;
		opacity: .5;
	}
	&.host {
		background-color: #ffce2dca;
		border-color: #ffce2dca;
	}
}

.game-container {
	position: relative;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	outline: none;
}

.spectating {
	font: 600 40pt 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.room-message {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	background-color: #7e7e7eae;
	color: white;
	padding: 10px;
	border-radius: 10px;
	font: bold 20pt 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	border: 3px solid #c8c8c8cb;
	backdrop-filter: blur(10px);
	pointer-events: none;
	opacity: 0;
	filter: blur(10px);
	transition: .3s ease;
	&.visible {
		transform: translate(-50%, -50%) scale(1);
		opacity: 1;
		filter: blur(0);
	}


}

.player-card .player-buzzer {
	width: 90%;
}
.player-card .player-buzzer img {
	width: 100%;
}

.buzzer-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	& img {
		width: 30%;
		object-fit: contain;
	}
}

.host-controls {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.pause-button {
	width: 110px;
}

.play-button {
	width: 150px;
}


.bottom-row {
	height: 80px;
	background: #0a7dd4;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}