.player-card {
	box-sizing: border-box;
	position: relative;
	width: 64px;
	height: 64px;
	background-color: #d5d3d381;
	border: 1px solid #eee;
	border-radius: 10px;
	font: 600 12pt 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	transition: .3s ease, font-style 0s;
	&.round-paused, &.pressed-this-round {
		filter: grayscale(100%);
	}
	&.current-buzz, &.host.current-buzz {
		filter: grayscale(0%);
		background-color: #90ee9080;
		border-color: #90ee90cc;
	}
	&.spectator {
		font-style: italic;
		opacity: .5;
	}
	&.host {
		background-color: #ffce2dca;
		border-color: #ffce2dca;
	}
}

.room-message {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #7e7e7eae;
	color: white;
	padding: 10px;
	border-radius: 10px;
	font: bold 20pt 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	border: 3px solid #c8c8c8cb;
	backdrop-filter: blur(10px);

}

.player-card .player-buzzer {
	width: 90%;
}
.player-card .player-buzzer img {
	width: 100%;
}

.buzzer-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	& img {
		width: 30%;
		object-fit: contain;
	}
}

.host-controls {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	gap: 10px;
}